@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 91.8333%;
	padding-left: 1.5833%;
	padding-right: 1.5833%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#imgdescription1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdecription4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
    font-weight: bold;
}
#footer span {
    font-family: sans-serif;
    font-size: 1.1em;
}
#img1 {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
	background: rgba(255,255,51,.5);
	border: double medium rgba(196,128,16,1);
}
#description1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#img2 {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
	background: rgba(186,168,223,.5);
	border: double medium rgba(144,142,232,1);
}
#description2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#img3 {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
	background: rgba(165,196,226,.5);
	border: double medium rgba(100,158,206,1);
}
#description3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#img4 {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
	background: rgba(232,173,170,.5);
	border: double medium rgba(211,121,105,1);
}
#description4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#img5 {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
	background: rgba(159,214,133,.5);
	border: double medium rgba(109,148,58,1);
}
#description5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#img6 {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
	background: rgba(251,197,85,.5);
	border: double medium rgba(190,124,14,1);
}
#description6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#imgdescription1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdecription4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#img1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
	background: rgba(255, 255, 51, .5);
	border: double medium rgba(196.128,16,1);
}
#description1 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#img2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
	background: rgba(186,168,223,.5);
	border: double medium rgba(154,142,232,1);
}
#description2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#img3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
	background: rgba(165,196,226,.5);
	border: double medium rgba(100,158,206,1);
}
#description3 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#img4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
	background: rgba(232,172,170,.5);
	border: double medium rgba(211,121,105,1);
}
#description4 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#img5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
	background: rgba(159,214,133,.5);
	border: double medium rgba(109,148,58,1);
}
#description5 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
#img6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 35.8974%;
	display: block;
	background: rgba(251,197,85,.5);
	border: double medium rgba(190,124,14,1);
}
#description6 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imgdescription {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 100%;
	display: block;
}
#imgdescription1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 49.1525%;
	display: block;
}
#imgdescription2 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#imgdescription6 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#imgdescription3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 49.1525%;
	display: block;
}
#imgdecription4 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#imgdescription5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 49.1525%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#img1 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 40.6779%;
	display: block;
	background: rgba(255,255,51,.5);
	border: medium double rgba(196,128,16,1);
}
#description1 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#img2 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 40.6779%;
	display: block;
	border: medium double rgba(154,142,232,1);
	background: rgba(186,168,223,.5);
}
#description2 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#img3 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 40.6779%;
	display: block;
	background: rgba(165,196,226,.5);
	border: medium double rgba(100,158,206,1);
}
#description3 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#img4 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 40.6779%;
	display: block;
	background: rgba(232,173,170,.5);
	border: medium double rgba(211,121,105,1);
}
#description4 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#img5 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 40.6779%;
	display: block;
	background: rgba(159,214,133,.5);
	border: medium double rgba(109,148,58,1);
}
#description5 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#img6 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 40.6779%;
	display: block;
	background: rgba(251,197,85,0.5);
	border: medium double rgba(190,124,14,1);
}
#description6 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
}

@media only screen and (max-width: 320px) {
	#header h1 {
		font-size: 2.5em;	
		margin-top: .5em;
	}
	#header h2 {
		font-size: 1.7em;	
		font-weight: normal;
		margin-top: 1em;
	}
}